*{
  margin: 0;
}

html{
  font-size: 18px;

}

body{
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
}

.container{
  width: 960px;
  margin: 0 auto;
}

/* Banner code*/

#banner{
  height: 30rem;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
}

#contentalign{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 100%;
}

#logobox{
  background-color: cadetblue;
  color:white;
  width: 100%;
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  margin-left: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}

#logo img{
  height: 1.5rem;
  margin-right: 1rem;
}

nav ul{
  list-style-type: none;
  display: flex;
}

nav li{
  margin-right: 2rem;
}

#headlinebox{
  position:relative;
  top: 10rem;
  left: 2rem;
}

#headline {
  background-color: #fff;
  font-weight: bold;
  color:#000;
  padding: 1.5rem 5rem;
}

#headline h1{
  font-size: 2rem;

}
